<div class="your_classrooms">

  <div id="your_classrooms_header">
    <% if @user.role == 'instructor' %>
     <p>Your <%= @class_rooms.count %> Classrooms</p>
    <% elsif @user.role == 'student' %>
      <p>Your Classrooms</p>
    <% end %>
  </div>

  <div class="close_classrooms"><span id="close_x">X</span></div>

  <div class="scrollable_list">

    <% if @user.role == 'instructor' %>

      <% @class_rooms.reverse.each do |c| %>

        <div id="classroom_name">
          <%= link_to c.subject, user_class_room_class_sessions_path(session[:user_id], c.id) %>
        </div>

        <div id="group_code">
          Group code: <%= c.group_code %>
        </div>

        <div id="view_sessions">
          <%= link_to 'Start New Session', new_user_class_room_class_session_path(session[:user_id], c.id) %> •
          <%= link_to 'View All Sessions', user_class_room_class_sessions_path(session[:user_id], c.id) %>
        </div>

        <hr>

      <% end %>

    <% else %>

      <% @classrooms.reverse.each do |a| %>
        <div id="student_classroom">
          <%= link_to a.subject, user_class_room_class_sessions_path(@user.id, a.id) %>
          <hr>
        </div>

      <% end %>

    </div>

  <% end %>

</div>
