<div class="user_form">

  <h2>New User</h2>

  <%= form_for @user do |f| %>

    <div class="close_sign_up"><span id="close_x">X</span></div>

    <div class="form_item">
      <p>
        <%= f.label :first_name, 'First Name' %>
        <%= f.text_field :first_name, placeholder: "i.e. Waylon" %>
      </p>
    </div>

    <div class="form_item">
      <p>
        <%= f.label :last_name, 'Last Name' %>
        <%= f.text_field :last_name, placeholder: "i.e. Smithers" %>
      </p>
    </div>

    <div class="form_item">
      <p>
        <%= f.label :user_image, 'Profile Photo' %>
        <%= f.file_field :user_image, placeholder: "i.e. jpg" %>
      </p>
    </div>

    <div class="form_item">
      <p>
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, placeholder: "i.e. clarkkent@dailyplanet.com" %>
      </p>
    </div>

    <div class="form_item">
      <p>
        <%= f.label :role, 'Role' %>
        <%= f.select :role, ['student', 'instructor']%>
      </p>
    </div>

    <div class="form_item">
      <p>
        <%= f.label :password, 'Create Password' %><br>
        <%= f.password_field :password, placeholder: "minimum 8 characters" %>
      </p>
    </div>

    <div class="form_item">
      <p>
        <%= f.label :password_confirmation, 'Confirm Password' %><br>
        <%= f.password_field :password_confirmation, placeholder: "one more time!" %>
      </p>
    </div>

    <div class="form_item">
      <p>
        <%= f.submit %>
      </p>
    </div>

    <% end %>

</div>
