<div class="user_form">

  <h2>New User</h2>

  <%= form_for @user do |f| %>

    <div class="close"><span id="x">X</span></div>

    <div class="form_item">
      <p>
        <%= f.label :first_name, 'First Name' %><br>
        <%= f.text_field :first_name, placeholder: "i.e. Maggie" %>
      </p>
    </div>

    <div class="form_item">
      <p>
        <%= f.label :last_name, 'Last Name' %><br>
        <%= f.text_field :last_name, placeholder: "i.e. Simpson" %>
      </p>
    </div>

    <div class="form_item">
      <p>
        <%= f.label :email, 'Email Address' %><br>
        <%= f.email_field :email, placeholder: "i.e. clarkkent@dailyplanet.com" %>
      </p>
    </div>

    <div class="form_item">
      <p>
        <%= f.label :role, 'Student or Instructor?' %><br>
        <%= f.select :role, ['student', 'instructor']%>
      </p>
    </div>

    <div class="form_item">
      <p>
        <%= f.label :password, 'Create Password' %><br>
        <%= f.password_field :password, placeholder: "Make it good!" %>
      </p>
    </div>

    <div class="form_item">
      <p>
        <%= f.label :password_confirmation, 'Confirm Password' %><br>
        <%= f.password_field :password_confirmation, placeholder: "One more time!" %>
      </p>
    </div>

    <div class="form_item">
      <p>
        <%= f.submit %>
      </p>
    </div>

    <% end %>

</div>
