<div class="user_form">

  <h1>Log In</h1>

  <%= form_for :session, url: sessions_path do |f| %>

    <div class="form_item">
      <p>
        <%= f.label :email, 'Email' %><br>
        <%= f.email_field :email %>
      </p>
    </div>

    <div class="form_item">
      <p>
        <%= f.label :password, 'Password' %><br>
        <%= f.password_field :password %>
      </p>
    </div>

    <%= f.submit 'Login' %>

  <% end %>

</div>
