<div class="user_form">

  <h2>Sign In</h2>

  <%= form_for :session, url: sessions_path do |f| %>

    <div class="form_item">
      <p>
        <%= f.label :email, 'Your Email' %><br>
        <%= f.email_field :email, placeholder: "i.e. santa@northpole.ca" %>
      </p>
    </div>

    <div class="form_item">
      <p>
        <%= f.label :password, 'Password' %><br>
        <%= f.password_field :password, placeholder: "i.e. OpenSesame" %>
      </p>
    </div>

    <div class="form_item">
      <p>
        <%= f.submit 'Login' %>
      </p>
    </div>
  <% end %>

</div>
