<div id="user-profile">

    <div class="user-image">
      <div class="profile_page_photo">
        <% if @user.user_image.present? %>
          <%= image_tag(@user.user_image.url) %>
        <% else %>
          <%= image_tag ActionController::Base.helpers.asset_path("YourFaceHere.jpg") %>
        <% end %>
      </div>
    </div>

    <div class="user-nav">

      <div id="user_name">
        <%= @user.first_name %> <%= @user.last_name %>
      </div>

      <div id="user_email">
        <%= mail_to @user.email, "#{ @user.email }" %>
      </div>

      <div id="user_role">
        <%= @user.role %>
      </div>

      <div class="show_classrooms">
        <p>
          <button class="access">
            Your Classrooms
          </button>
        </p>
      </div>

      <% if @user.role == 'instructor' %>

          <div class="create_classroom">
            <p>
              <button class="access">
                Create Classroom
              </button>
            </p>
          </div>

          <div class="modal" id="create_classroom">
            <%= render "class_rooms/new" %>
          </div>

      <% end %>

      <div class="profile_tools">
          <span class="edit_profile">
           <%= link_to 'edit your profile', '#' %>
         </span> |
         <%= link_to 'delete your account', user_path, method: :delete %>
      </div>

    </div>

    <div class="modal" id="edit_profile">
      <%= render "edit_form" %>
    </div>

    <div class="modal" id="show_classrooms">
      <%= render "class_rooms/index" %>
    </div>

</div>
