<h1><%= ["Hello!", "Aloha!", "Salam!", "Bonjour!", "Bonjourno!", "Shalom!", "Ola!"].sample.capitalize %> <%= @user.first_name.capitalize + ' ' + @user.last_name.capitalize %></h1>

<% if @user.role == 'student' %>
  <p>
    <%= link_to 'Edit', edit_user_path %> || <%= link_to 'Delete', user_path, method: :delete %><br />
    <%= link_to 'Join Session', user_class_sessions_path(@user.id) %>
  </p>
<% elsif @user.role == 'instructor' %>
  <p>
    <%= link_to 'Edit', edit_user_path %> || <%= link_to 'Delete', user_path, method: :delete %><br />
    <%= link_to 'Create Class Room', new_user_class_room_path(@user.id) %>
    <%= link_to 'See All Class Rooms', user_class_rooms_path(@user.id) %>
  </p>
<% end %>
