<div id="user-profile">

    <div class="profile_page_photo">
      <p>
        <%= image_tag(@user.user_image.url) %>
      </p>
    </div>

    <div class="user-info">

      <h3>Name: <%= @user.first_name %> <%= @user.last_name %></h3>

      <h3>Contact: <%= mail_to @user.email, "#{ @user.email }" %></h3>

      <h3>Role: <%= @user.role %></h3>

      <div class="edit_profile">
        <h3><%= link_to 'Edit Your Profile', '#' %></h3>
      </div>

      <h3><%= link_to 'Delete Your Account', user_path, method: :delete %></h3>
    </div>

    <% if @user.role == 'student' %>

      <div class="user-nav">
        <%= link_to 'Show all classrooms', user_class_rooms_path(@user.id) %>
      </div>

    <% elsif @user.role == 'instructor' %>

      <div class="user-nav">
        <%= link_to 'Create a Classroom', new_user_class_room_path(@user.id) %>
        <%= link_to 'See All Classrooms', user_class_rooms_path(@user.id) %>
      </div>

    <% end %>

</div>

<div class="modal" id="edit_profile">
  <%= render "edit_form" %>
</div>
