<div id="user-profile">

    <div class="user-image">
      <div class="profile_page_photo">
        <% if @user.user_image.present? %>
          <%= image_tag(@user.user_image.url) %>
        <% else %>
          <%= image_tag ActionController::Base.helpers.asset_path("adam_west.jpg") %>
        <% end %>
      </div>
    </div>

    <div class="user-nav">

      <div id="user_name">
        <p><%= @user.first_name.titleize %> <%= @user.last_name.titleize %></p>
      </div>
      <div id="user_role">
        <p><%= @user.role.titleize %></p>
      </div>

      <% if @user.role == 'student' %>
        <p>
          <button class="access">
            <%= link_to 'Show All Classrooms', user_class_rooms_path(@user.id) %>
          </button>
        </p>
      <% elsif @user.role == 'instructor' %>
        <div class="create_classroom">
          <p>
            <button class="access">
              <%= link_to 'Create a Classroom', '#' %>
              <%#= link_to 'Create a Classroom', new_user_class_room_path(@user.id) %>
            </button>
          </p>
        </div>
        <p>
          <button class="access">
            <%= link_to 'See All Classrooms', user_class_rooms_path(@user.id) %>
          </button>
        </p>
      <% end %>

      <div class="profile_tools">
        <p><%= mail_to @user.email, "#{ @user.email }" %></p>
        <p>
          <span class="edit_profile">
           <%= link_to 'edit your profile', '#' %>
         </span> |
         <%= link_to 'delete your account', user_path, method: :delete %>
        </p>
      </div>

    </div>

    <div class="modal" id="edit_profile">
      <%= render "edit_form" %>
    </div>

    <div class="modal" id="create_classroom">
      <%= render "class_rooms/new" %>
    </div>

</div>
