<div id="user-profile">

    <div class="user-info">

      <div class="profile_page_photo">
        <% if @user.user_image.present? %>
          <%= image_tag(@user.user_image.url) %>
        <% else %>
          <%= image_tag ActionController::Base.helpers.asset_path("adam_west.jpg") %>
        <% end %>
      </div>

    </div>

    <div class="user-nav">

      <div id="user_name">
        <p>
          <%= @user.first_name %> <%= @user.last_name %>
        </p>
      </div>
      <p>Role: <%= @user.role %></p>
      <p>Email: <%= mail_to @user.email, "#{ @user.email }" %></p>

      <div class="edit_profile">
        <p><%= link_to 'Edit Profile', '#' %></p>
      </div>

      <p><%= link_to 'Delete Account', user_path, method: :delete %></p>

      <% if @user.role == 'student' %>
        <p>
          <button class="access">
            <%= link_to 'Show All Classrooms', user_class_rooms_path(@user.id) %>
          </button>
        </p>
      <% elsif @user.role == 'instructor' %>
        <p>
          <button class="access">
            <%= link_to 'Create a Classroom', new_user_class_room_path(@user.id) %>
          </button>
        </p>
        <p>
          <button class="access">
            <%= link_to 'See All Classrooms', user_class_rooms_path(@user.id) %>
          </button>
        </p>
      <% end %>

    </div>

    <div class="modal" id="edit_profile">
      <%= render "edit_form" %>
    </div>

</div>
