<div class="create_class_session_page">

  <div class="create_class_session_header">Create Session</div>

  <div class="create_class_session_form">

    <%= form_for :class_session, url: user_class_room_class_sessions_path do |f| %>

      <p>
        <%= f.label :date %><br>
        <%= f.date_field :date %>
      </p>

      <p>
        <%= f.label :agenda %><br>
        <%= f.text_field :agenda %>
      </p>

      <%= f.submit %>

      <% end %>

  </div>

</div>
