<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<h1>Class Session</h1>

<%# Users who are logged in -- Left column %>
<% @users.each do |u| %>
  <li><%= u.first_name%> <%= u.last_name %></li>
<% end %>

<br>
<br>


<%# Live chat area -- Centre column %>
<%# render 'comments' %>

<%# Survey -- right column %>
<!-- @user, @class_session, -->
<% if @user.role == 'student' %>
<%= form_for :survey, url:  user_class_room_class_session_surveys_path(@user, @class_room, @class_session), method: :post do |f| %>

  <fieldset>
    <legend>Helpfulness</legend>
    <%= f.collection_radio_buttons(:helpfulness, survey_options, :first, :last)%>
  </fieldset>

  <fieldset>
    <legend>Clarity</legend>
    <%= f.collection_radio_buttons(:clarity, survey_options, :first, :last)%>
  </fieldset>

  <fieldset>
    <legend>Pace</legend>
    <%= f.collection_radio_buttons(:pace, survey_options, :first, :last)%>
  </fieldset>

  <p>
    <%= f.label :suggestions %>
    <%= f.text_area :suggestions %>
  </p>


    <%= f.submit 'Submit Survey' %>
  <% end %>

<% elsif @user.role == 'instructor' %>
  <h1><strong>Today's Feedback</strong></h1>
  <center><h3><strong><%= @helpfulness1and2+@helpfulness3+@helpfulness4and5 %></strong> Students Submitted Today's Survey</h3></center>



  <br>



  <div style="width: 350px; height: 350px; background-color:white" >
    <h3>How HELPFUL was this Lesson</h3>
    <%= pie_chart({"Not Helpful" => @helpfulness1and2, "Just OK" => @helpfulness3, "Very Helpful" => @helpfulness4and5}, height: "300px", width: "300px")%>
  </div>

  <div style="width: 350px; height: 350px; background-color:white; margin-top: 100px">
    <h3>How CLEAR was this Lesson</h3>
    <%= pie_chart({"Not Clear" => @clarity1and2, "Kind of Clear" => @clarity3, "Very Clear" => @clarity4and5}) %>
  </div>

  <div style="width: 350px; height: 350px; background-color:white; margin-top: 100px; margin-bottom: 150px">
    <h3>How was the PACE this Lesson</h3>
    <%= pie_chart({"Way Too Fast" => @pace1and2, "Could Be Better" => @pace3, "Perfect" => @pace4and5}) %>
  </div>
  <br><br>

  <p>Student's Suggestions<p>
  <div id="daily suggestions">
    <% @suggestions.each do |s| %>
    <p><small><%= s.suggestions %></small></p><hr>
  <% end %>
  </div>
<% end %>


  <%= form_for :comment, url: user_class_room_class_session_comments_path(@user.id, @class_room.id, @class_session.id), method: :post, html: {id: 'comment-add-form'} do |f| %>
  <br><br>

  <p>
    <%= f.label :comment, 'Add a Comment' %>
    <%= f.text_area :comment %>
  </p>

  <%= f.submit 'Add Comment', data: { disable_with: false }, id: 'submit_comment' %>

<% end %>

<div id="comments">
  <% @comments.each do |c| %>
    <div class="comment">
      <b>
        <%= User.find(c.user_id).first_name%>
      </b>
      <pre><%= c.comment %></pre>
      <hr>
      <small><%= c.created_at.strftime("%A %B %d %Y") %></small>
    </div>
  <% end %>
</div>
