<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<%#===========================================================================%>
<%#   Wrapper                                                                 %>
<%#===========================================================================%>

<div class="all_columns_wrapper">

<%#===========================================================================%>
<%#   Title and Logged-in Users -- left column                                %>
<%#===========================================================================%>

  <div class="user_column">

    <div class="live_session_title_bar">
      <div class="top_subject">
        <%= @class_room.subject %>
      </div>
      <div class="top_agenda">
        <%= @class_session.agenda %>
      </div>
      <div class="top_date">
        <%= @class_session.date %>
      </div>
    </div>

    <div class="list_of_users">
      <% @users.each do |u| %>
        <ul>
          <li><%= u.first_name %> <%= u.last_name %></li>
        </ul>
      <% end %>
    </div>
  </div>

<%#===========================================================================%>
<%#   Survey -- right column                                                  %>
<%#===========================================================================%>

  <div class="survey_column">
    <% if @user.role == 'student' %>
      <div class="survey_header">
        Feedback Survey
      </div>
      <%= form_for :survey, url:  user_class_room_class_session_surveys_path(@user, @class_room, @class_session), method: :post do |f| %>
        <div class="survey_help">
          <fieldset>
            <legend>Helpfulness</legend>
            <%= f.collection_radio_buttons(:helpfulness, survey_options, :first, :last)%>
          </fieldset>
        </div>
        <div class="survey_clarity">
          <fieldset>
            <legend>Clarity</legend>
            <%= f.collection_radio_buttons(:clarity, survey_options, :first, :last)%>
          </fieldset>
        </div>
        <div class="survey_pace">
          <fieldset>
            <legend>Pace</legend>
            <%= f.collection_radio_buttons(:pace, survey_options, :first, :last)%>
          </fieldset>
        </div>
        <div class="suggestion_box">
          <%= f.label :suggestions, 'Make a Suggestion:' %>
          <%= f.text_area :suggestions %>
        </div>
        <div class="submit_survey">
          <%= f.submit 'Submit Survey' %>
        </div>
        <div class="submit_to_exit">
          Submit Survey<br />to Exit Session
        </div>
      <% end %>

    <% elsif @user.role == 'instructor' %>

      <div class="survey_header">
        <div class="result_number">
          <%= @helpfulness1and2+@helpfulness3+@helpfulness4and5 %> Surveys Submitted
        </div>
      </div>

      <div class="result_help">
        Your Helpfulness
        <%= pie_chart({"Not Helpful" => @helpfulness1and2, "Just OK" => @helpfulness3, "Very Helpful" => @helpfulness4and5})%>
      </div>

      <div class="result_clarity">
        Your Clarity
        <%= pie_chart({"Not Clear" => @clarity1and2, "Kind of Clear" => @clarity3, "Very Clear" => @clarity4and5}) %>
      </div>

      <div class="result_pace">
        Your Pace
        <%= pie_chart({"Way Too Fast" => @pace1and2, "Could Be Better" => @pace3, "Perfect" => @pace4and5}) %>
      </div>

      <!-- <div class="result_suggestions">
        <div class="lesson_sentiment">
          <%# @body["aggregations"].each do |body| %>
            <%# body["results"].each do |result| %>
              <%#= result['matching_results'] %> suggestion(s): <%#= result['key'].titleize %>
              <br />
            <%# end %>
          <%# end %>
        </div>
        <div id="daily_suggestions">
          <%# @suggestions.each do |s| %>
            <%#= s.suggestions %>
            <hr>
          <%# end %> -->
        </div>

      </div>

    <% end %>

  </div>

  <%#===========================================================================%>
  <%#   Live Chat -- centre column                                              %>
  <%#===========================================================================%>

    <div class="centre_column_wrapper">

      <div id="comments">
        <% @comments.each do |c| %>
          <div class="comment">
            <%= User.find(c.user_id).first_name%>
            <br />
            <%= c.comment %>
            <small><%= c.created_at.strftime("%A %B %d %Y") %></small>
          </div>
        <% end %>
      </div>

      <div class="write_new_comment">
        <%= form_for :comment, url: user_class_room_class_session_comments_path(@user.id, @class_room.id, @class_session.id), method: :post, html: {id: 'comment-add-form'} do |f| %>
          <span class="speak"><%= f.label :comment, 'Speak: ' %></span>
          <%= f.text_area :comment %>
          <%= f.submit 'Add Comment', data: { disable_with: false }, id: 'submit_comment' %>
        <% end %>
      </div>

    </div>

  <div id="comments">
    <% @comments.each do |c| %>
      <div class="comment">
        <b>
          <%= User.find(c.user_id).first_name%>
        </b>
        <pre><%= c.comment %></pre>
        <hr>
        <small><%= c.created_at.strftime("%A %B %d %Y") %></small>
      </div>
    <% end %>
