<h1>Class Session</h1>

<%# Users who are logged in -- Left column %>
<% @users.each do |u| %>
  <li><%= u.first_name%></li>
<% end %>

<br>
<br>


<%# Live chat area -- Centre column %>
<%# render 'comments' %>

<%# Survey -- right column %>
<!-- @user, @class_session, -->
<%= form_for :survey do |f| %>

  <fieldset>
    <legend>Helpfulness</legend>
    <%= f.collection_radio_buttons(:helpfulness, survey_options, :first, :last)%>
  </fieldset>

  <fieldset>
    <legend>Clarity</legend>
    <%= f.collection_radio_buttons(:clarity, survey_options, :first, :last)%>
  </fieldset>

  <fieldset>
    <legend>Pace</legend>
    <%= f.collection_radio_buttons(:pace, survey_options, :first, :last)%>
  </fieldset>

  <p>
    <%= f.label :suggestions %>
    <%= f.text_area :suggestions %>
  </p>


    <%= f.submit 'Submit Survey' %>


  <% end %>


  <%= form_for :comment, url: user_class_room_class_session_comments_path(@user.id, @class_room.id, @class_session.id), method: :post do |f| %>
  <br><br>

  <p>
    <%= f.label :comment, 'Add a Comment' %>
    <%= f.text_area :comment %>
  </p>

  <%= f.submit 'Add Comment' %>

<% end %>

  <%# @comments.each do |c| %>
  <b><%#= User.find(c.user_id).first_name%></b><br><%#= c.comment %><hr><small><%#= c.created_at.strftime("%A %B %d %Y") %></small>
  <%# end %>
