<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OneVoice</title>
    <meta name="description" content="Realtime live classroom feedback for instructors">
    <%= csrf_meta_tags %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Lato|Merriweather');
    </style>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="check_this">

    <% if current_user %>

    <script>var userId = <%= current_user.id %></script>
      <div class="nav_main">

        <div class="nav_to_profile">
          <%= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user.id) %>
          <span class="nav_user_role"><%= link_to " • #{current_user.role}", user_path(current_user.id) %></span>
        </div>

        <div class="nav_to_logout">
          <%= link_to "Logout", sessions_path, method: :delete %>
        </div>

      </div>

    <% end %>

    <%= yield %>

  </body>
</html>
