<!DOCTYPE html>
<html>
  <head>
    <title>One Voice</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <% if current_user %>
        <ul class="logout">
          <li><%= link_to 'Back to Index', root_url %></li><br />
          <li><%= link_to "Logout", sessions_path, method: :delete %></li>
        </ul>
      <% end %>
    <%= yield %>
  </body>
</html>
